.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 10%;
}
.container * {
  position: relative;
  top: 50px;
}
.photo-card {
  margin: 15px;
  text-align: center;
  width: 250px;
}

.photo-card img {
  width: 100%;
  border-radius: 15px;
}

.photo-card p {
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #a64d79;
}
